body {
  padding: 0 25px;
}
.predefines {
  text-align: right;
}
.btn {
  margin: 0 0 10px 10px;
}
.options {
  clear: both;
  min-height: 70px;
  padding: 15px 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  position: sticky;
  top: 0;
  background: white;
  z-index: 50;
}
a.toggle {
  float: left;
}
a.ifr-grid:not(.ifr-grid-active),
a[data-ifr-pre-active=false],
a.iframe-toggle.iframe-toggle-disabled {
  color: grey;
  background: rgba(128, 128, 128, 0.16);
  border: 1px solid rgba(128, 128, 128, 0.12);
}
a.ifr-grid:not(.ifr-grid-active):hover,
a[data-ifr-pre-active=false]:hover,
a.iframe-toggle.iframe-toggle-disabled:hover {
  color: grey;
  background: rgba(128, 128, 128, 0.25);
  border: 1px solid rgba(128, 128, 128, 0.3);
}
a.iframe-toggle.iframe-toggle-disabled + .predefines {
  display: none;
}
a:focus,
a:active {
  box-shadow: none !important;
}
body:not(.ifr-active) a[data-ifr-view] {
  color: grey;
  background: rgba(128, 128, 128, 0.16);
  border: 1px solid rgba(128, 128, 128, 0.12);
}
body:not(.ifr-active) a[data-ifr-view]:hover {
  color: grey;
  background: rgba(128, 128, 128, 0.25);
  border: 1px solid rgba(128, 128, 128, 0.3);
}
body:not(.ifr-active) a[data-ifr-view] + .predefines {
  display: none;
}
body.ifr-grid-view .patterns {
  display: flex;
  flex-wrap: wrap;
}
body.ifr-grid-view .patterns .pattern {
  flex-shrink: 0;
  margin: 10px;
}
.iframe {
  background: #e6e6e6;
  border: 1px solid #e6e6e6;
  padding: 10px;
  position: relative;
}
body.ifr-active .iframe {
  resize: both;
  overflow: auto;
  height: 350px;
  min-height: 100px;
  clear: both;
  max-width: 100%;
  overflow: scroll;
  margin-bottom: 40px;
}
.iframe-size {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  padding: 3px 6px;
  z-index: 40;
  font-family: Courier;
}
.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.tabs .tab {
  border: 1px solid grey;
  padding: 10px 15px;
  margin: 0;
  white-space: nowrap;
}
.tabs .tab:not(:first-child) {
  border-left: 0;
}
.tabs.wrap {
  flex-wrap: wrap;
}
.tabs.wrap .tab {
  border-radius: 20px;
  border: 1px solid grey;
  margin: 3px;
}
